POSTGRES_PORT=5432
POSTGRES_PASSWORD=dev
SERVER_PORT=8090
SERVER_DB_URL=postgres://annotations:dev@localhost:5432/annotations?sslmode=disable
CHANNEL_PORT=8091
WEBHOOK_URL=http://localhost:8091/webhook/annotation
ANNOTATION_SERVER_URL=http://localhost:8090
